@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto:wght@300&display=swap');

body {
  background-color: black;
  font-family: 'Poppins', 'Roboto', 'Bebas Neue',  sans-serif;
  color: white;
  margin-bottom: 3rem;
}

.Netflix-logo-font {
  font-family:  'Bebas Neue',  sans-serif;

}